* {
    box-sizing: border-box;
  }
  
  :root {
    --features: black;
    --background: white;
    --focus:rgb(67, 99, 67) ;
    --highlight: #d9ac3b;
    --lightfocus: hsl(92, 24%, 47%);
}
  
  body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: var(--background);
    width: 100%;
  }

  header {
    padding: 20px;
    display: flex;
    background: var(--focus);
    background-blend-mode: hard-light;
    color: var(--features);
    border-bottom:30px #879274;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items:center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .large-font {
    font-size:3.5em;
  }


  .timer-container {
    padding: 10px 20px 10px 10px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    flex-direction: wrap;
    border: var(--background) 1px solid;
    border-radius:5px;
    color: var(--white);
    background: var(--highlight);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:400;
    justify-content:space-between;

  }
  

  span {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:500;
    color:red;
    font-stretch: semi-expanded;
  }
 

  .button-styling {
    background:var(--highlight);
    color: var(--white);
    border: var(--background) 1px solid;
    border-radius:5px;
    padding: 20px 10px 20px 10px;
    margin: 20px 5px 20px 5px;
    font-family: Cambria Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
  }

  #timer {
    display: flex;
    padding: 5px 10px 5px 10px;
    font-size: 1.5em;
  }


  #counter {
    display: flex;
    padding: 5px 10px 5px 10px;
    font-size: 3em;

  }

  .container {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-evenly;
    border: var(--lightfocus) 2px solid;
    width:50%;
    margin:auto;
  }

  h1, h2 {
    font-size: 1.5em;
    padding-top: 2em;
    padding-bottom: 20px;
    display:flex;
  }

  .choice {
    background-color: var(--lightfocus);
    border:var(--highlight) 2px solid;

    padding: 20px;
    margin: 14px;
  }